.asperiores-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-descr {
        width: 50%;
        &-header {
            @include primary-header;
        }
        &-text {
            @include primary-text;
            width: 90%;
            margin: 23px 0 54px;
        }
        &-items {
            display: flex;
            flex-wrap: wrap;
            &-item {
                width: 50%;
                &-header {
                    font-size: 24px;
                    line-height: 32px;
                    color: #333333;
                    font-family: 'Poppins Bold';
                    margin-top: 7px;
                }
                &-descr {
                    @include secondary-text;
                    margin: 9px 32px 30px 0;
                }
            }
        }
    }
}