$white: #fff;
$black: #000;
$beige: #D7B399;
$backgroundBeige: #F9F6F1;

$primaryFontBold: 'Poppins Bold';
$secondaryFontBold: 'SourceSansPro Bold';
$secondaryFontRegular: 'SourceSansPro Regular';
$secondaryFontSemiBold: 'SourceSansPro SemiBold';

