section.home-section {
    background: $gradient;
    padding: 236px 0 160px;
}
.home-section-content {
    width: 45%;
    &-header {
        font-family: 'Poppins Bold';
        font-size: 72px;
        line-height: 72px;
        color: #FFFFFF;
        margin: 0;
    }
    &-descr {
        font-family: 'SourceSansPro SemiBold';
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 26px 0 34px;
    }
    &-button {
        background: #FFC300;
        border-radius: 24px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'SourceSansPro Bold';
        border: none;
        padding: 12px 47px;
        &:hover {
            opacity: 0.8;
        }
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .home-section {
        &-content {
            width: 80%;
            &-header {
                font-size: 56px;
                line-height: 64px;
            }
        }
    }
}
@media (max-width: 376px) {
    .home-section {
        &-content {
            width: 100%;
            &-header {
                font-size: 56px;
                line-height: 64px;
            }
        }
    }
}